extends layout
block css
  link(rel='stylesheet', href='/styles/app.css')
block scripts
  script(src="/scripts/app.js")
block header
  div.search
    span Логин:
    input#login(size="7" type="search" autofocus)
  div.search
    span Имя компьютера:
    input#hostname(size="25" type="search")
  div.search
    span IP адрес:
    input#ip(size="15" type="search")
  button#search Искать
  button#update Обновить БД
block content
  div#crt
    p Для поиска заполните фильтр
//- vim:shiftwidth=2:expandtab:number:list:autoindent
