table#users
  tr
    th Имя пользователя 
    th Данные о ресурсе подключения
  each user in cursor
    tr
      td= user["_id"]
      td
        table#resources
          col.hostname
          col.ip
          col.ts
          each resource in user["resources"]
            tr.resources 
              td= resource.hostname
              td= resource.ip
              td= resource.ts.toLocaleString()

//- vim:shiftwidth=2:expandtab:number:list:autoindent
