doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/styles/layout.css')
    block css
    block scripts
  body
    header
      div#headerSearch
        block header
      div#headerSession
        if (session)
          div= session
          if (authType == "ldap")
            div
              a(href='/logout') Выйти

    section
      block content

    footer
      small 21.12.2015
